<div class="room-index-section">
  <h2>Click any room below to join</h2>
  <h3>or <%= link_to 'create your own room', new_room_path %></h3>
  <div class="room-previews">
    <% @rooms.each do |room| %>
      <%= link_to room_path(room), class: 'room-preview' do %>
        <img src="<%= image_path("#{ room.image_name }") %>" alt="">
        <p class="room-title"><%= room.name %></p>
      <% end %>
    <% end %>
  </div>
</div>
