<nav>
  <div class="new-user-container">
    <input type="text" class="js-user-name" placeholder="What is your name?">
    <button type="button" class="js-create-user">Create User</button>
  </div>
</nav>

<div class="main-section">
  <div class="player-container">
    <div id="player"></div>
    <div class="video-selection-container">
      <input type="text" class="js-video-link" placeholder="Enter youtube link">
      <button type="button" class="js-play-video">Play video</button>
    </div>
  </div>

  <div class="messages-container">
    <div class="js-messages messages"></div>
    <input type="text" class="js-new-message" placeholder="Your message">
    <button type="button" class="js-add-message">Add Message</button>
  </div>
</div>
