<nav>
  <div></div>
  <div class="logo-container">
    <p>MuzikChat</p>
  </div>
  <div class="new-user-container">
    <input type="text" class="js-user-name" placeholder="What is your name?">
    <button type="button" class="js-create-user">Create User</button>
  </div>
</nav>

<div class="main-section">
  <div class="player-container">
    <div id="player"></div>
    <div class="video-selection-container">
      <input type="text" class="js-video-link" placeholder="Enter youtube link">
      <button type="button" class="js-play-video">Play video</button>
    </div>
  </div>

  <div class="messages-container">
    <div class="js-messages messages">
      <% @messages.each do |message| %>
        <p><%= message.user_name %>: <%= message.content %></p>
      <% end %>
    </div>
    <div class="new-message-container">
      <input type="text" class="js-new-message new-message" placeholder="Press Enter To Send Message">
    </div>
  </div>
</div>
