<div id="player"></div>
<input type="text" class="js-video-link" placeholder="Enter youtube link">
<button type="button" class="js-play-song">Play song</button>

<div class="new-user-container">
  <input type="text" class="js-user-name" placeholder="What is your name?">
  <button type="button" class="js-create-user">Create User</button>
</div>
