$spacing: 16px

body
  margin: 0
  font-family: Helvetica Neue, sans-serif

.root-main
  text-align: center
  .root-hero
    color: white
    position: relative

    img
      width: 100%
      max-height: 75vh

    h1
      display: block
      font-family: Lora
      font-size: 36px
      font-weight: 300
      margin: 0 auto
      position: absolute
      top: 30%
      left: 0
      right: 0

    p
      display: block
      font-size: 20px
      position: absolute
      top: 60%
      left: 0
      right: 0

  .root-body
    padding: $spacing * 4

.main-section
  display: flex
  justify-content: space-between
  max-width: 1024px
  margin: 0 auto
