$spacing: 16px

body
  margin: 0
  font-family: Helvetica Neue, sans-serif

.main-section
  display: flex
  justify-content: space-between
  max-width: 1024px
  margin: 0 auto

  .messages-container
    border: 1px solid black
    display: flex
    flex-direction: column
    flex-grow: 1
    height: 388px
    margin: 0 $spacing * 2
    max-width: 400px

    .messages
      flex-grow: 1
      flex-basis: auto
      padding: 0 $spacing
      overflow: auto

    .new-message-container
      padding: $spacing / 2

      .new-message
        box-sizing: border-box
        padding: $spacing / 2 $spacing / 4
        height: 13px
        width: 100%
