$navy: #003459
$white: #FFFFFF
$spacing: 16px

nav
  background-color: $navy
  padding: 0 $spacing * 2
  color: $white
  font-weight: 100

  .nav-content
    display: flex
    justify-content: space-between
    max-width: 992px
    margin: 0 auto
    position: relative

  .logo-container
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    text-align: center

  .new-user-container
    z-index: 1
    padding: $spacing 0
